body {	background-image:url(fon.jpg);
		background-size:100%;
		font-family:"Bookman Old Style, serif";
		font-size:12pt;

		}
#ta {	width:1000px;
		height:630px;
		margin:0 auto;
		}
header {	width:1000px;
		height:120px;
		background-image:url(header.gif);
		}
nav {	width:180px;
		height:450px;
		padding:10px;
		background:#eaedfe;
		float:left;
		}
#content {
		width:780px;
		height:450px;
		padding:10px;
		margin-left:200px;
		background:#ffffff;
		overflow: scroll
		}
footer {  
		width:990px;
		height:30px;
		padding:5px;
		background:linear-gradient(to top, #6896e1, #eaedfe);
		}
}		
.menu {	
		font-size:12pt;
		font-weight:bold;
		margin-bottom:15px;
		margin-top:15px;
		}
.ks {
		text-indent: 30px;
		margin-bottom:0.5pt;
		margin-top:0.5pt;
		}
a:active{
		color: #0000d0;
			}	
a:hover{
		font-size:105%;
			}			
a:visited{
		color: #0000d0;
			}				